
.img-logo{
width: 200px;
}

.about-us-header{
font-size: 30px;
color: aliceblue;
font-family: 'Copse', serif;


}
/* 
.header-nav{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;

} */

	

