
.img-logo{
width: 200px;
}



	
/*     
.webName {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: calc(10px + 2vw);
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
     text-shadow: 0 0 0.15em #0d3faa;
    text-shadow: 3px 3px #0d3faa;
    
 
} */
