.btn-div {
  display: flex;
  align-items: center;
  justify-content: space-around;

  outline: none;
  border: none;
}
input {
  display: none;
}

.text-field-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-div {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.meme-form-div {
  display: flex;
  justify-content: space-around;
}

.left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-div {
  margin: 12px;
  display: flex;
  justify-content: space-between;
}
